<%- layout('layouts/boilerplate') %>
<div class="container text-center py-5">
    <h1 class="display-4 text-primary">HOME! Sameer CAMPS!</h1>
    <p class="lead text-muted">Welcome to the Sameer Camps website, where you can explore amazing campsites!</p>
</div>